BACKEND_PORT=10000
DATABASE_URL=postgresql://user:password@localhost:5432/xo
NODE_ENV=production
BACKEND_URL=https://tic-tak-backend.onrender.com
SYSTEM_BACKEND_URL=https://system-backend-1u5m.onrender.com
DAMA_GAME_TOKEN=GT-7293FCC488E62FC18C46BB891C886CE5
FRONTEND_URL=https://tic-tak-5qd1.onrender.com
CORS_ORIGINS=https://tic-tak-5qd1.onrender.com,https://system-admin-iou9.onrender.com,https://system-backend-1u5m.onrender.com